html, body{
	background: url("../img/bg1.jpg") center center no-repeat;
	height: auto;
	background-size: cover;
}

#logo img{

	padding-top: 20px;
	float: left;
	width: 150px;
	height: 150px;
}

#intro, h1 {
	font-size: 2.1em !important;
	font-family: 'Raleway', sans-serif;
	color: white;
	text-align: center;
	margin-bottom: 20px;
	margin-top: -50px;
}

#form{
	color: white;
	text-align: center;
	width: 400px;
	height: 100px;
	margin: 0 auto;
}

#form .btn-signup {
	color: white;
	background-color: rgba(255,167,33,0.6);
	transition: all 0.3s ease-in-out;

}

#form .btn-signup:hover {
	background-color: rgba(255,167,33,2.5);
	
}

#sub-title p{
	color: white;
	text-align: center;
	font-family: 'Raleway', cursive;
	font-size: 1.5em;
	margin-top: 30px;
}

#timer {
	font-family: 'Raleway';
	color: white;
	text-align: center;
	font-size: 1.0em;
	margin: 15px 0 0 0;
}

#icon{
	text-align: center;
	margin-top: 30px;

}
	
#icon .fa {
    color: white;
    margin:5px 15px;
    position:relative;
    bottom:0;
    transition:all 0.2s ease-in-out;
}

#icon .facebook:hover {
	color: #3b5998;
	bottom: 5px;
}

#icon .twitter:hover{
	color: #6cadde;
	bottom: 5px;
}

#icon .google-plus:hover{
	color: #ea4335;
	bottom: 5px;
}

#icon .instagram:hover {
	color: #517fa6;
	bottom: 5px;
}

/*Media Queries*/
@media(max-width:768px) {
    
    #logo img {
        width:50%;
    }

    #counter .countdown {
        font-size:1.4em !important;
    }

    #icons .fa {
        margin:10px 0 !important;
        font-size:2em;
    }
    
    .btn-signup{
        	width: 100%;
        }
    
}

@media(min-width:321px)
    and (max-width:568px) {
        
        #logo img {
            width:20%;
        }
        .btn-signup{
        	width: 100%;
        }
        
}

@media(max-width:321px) {
	
* {
	overflow-x: hidden;
}

	#intro h1{
		margin: 30px 5px 10px 5px !important;
		font-size: 1em !important;
		text-align: center !important;
	}
    
    #logo img {
        width:100px !important;
        height: 100px !important;
        margin: 0 auto !important;
    }
    #counter .countdown {
        font-size:.5em !important;
    }
    #icons .fa {
        margin:10px 0 !important;
        font-size:2em;
    }
    .btn-signup, input{
        	width: 90% !important;
        	margin: 0 auto !important;
        }
    
}